body {
    background-color: #b7b7b7;
    font-family: Arial, sans-serif;
}

.bodyModelos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.mainModelos {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    width: 98%;
}

.mainModelos h2 {
    margin-bottom: 20px;
}

.formModelos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.listaQuality {
    width: 98%;
}